{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var initial_data_url = "{{=URL('api', 'get_initial_data')}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <div>
          <p>${salutation}</p>
          <button class='btn' v-on:click="change_salutation">${sal_button}</button>
        </div>
        


      <div>
        <ul>
          <li v-for="thing in thing_list">${thing}</li>
        </ul>
      </div>
      
      <div>
        <button v-on:click="toggle_plus">
          <i v-if="is_plus" class="fa fa-plus"></i>
          <i v-if="!is_plus" class="fa fa-minus"></i>
        </button>
      </div>

    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
