{{extend 'layout.html'}}

<H1>A big title</H1>
<h2>A smaller one</h2>

<div class="top_content">
    <p>First paragraph.</p>
    <p>Second paragraph.</p>
    <p>I love <span class="myquote">to feed my cats.</span></p>
    <p>I never bake <span class="myquote boldquote">cakes.</span></p>
    <a href="www.soe.ucsc.edu">School of Engineering</a>

</div>

<div class="mid_content">
    <p class="myquote">First paragraph.</p>
    <p id="mysecondparagraphinmid">Second paragraph.</p>
    <p>I love <span class="myquote">to feed my cats.</span></p>
    <p>I never bake <span class="myquote boldquote">cakes.</span></p>
    <a href="http://www.soe.ucsc.edu">School of Engineering</a>

</div>