/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}
.sq {
  width: 200px;
  height: 200px;
}



.center-col {
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
}

.top-bot {
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 1px
}