/* line 1, ../sass/_main.scss */
.myquote {
  font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

/* line 3, ../sass/_main.scss */
.mid_content {
  background: #00d95a;
  color: #0000cc;
}

/* line 7, ../sass/_main.scss */
div.top_content {
  background: #cccccc;
  border-color: black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
}
