.myquote {font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;}

.mid_content {background: $myGreen;
            color: $myBlue;}


div.top_content {
  background: $divBk;
  border-color: darken($divBk, 100%);
  @include border-radius(20px);
}

